* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;
  --LightBlue: #e3f4fc;
  --navyBlue: #133040;
  --navyDarkBlue: #0e2431;
  --navyLightBlue: #6f7b82;
  --goldenYellow: rgba(217, 219, 50, 1);
  --white: #ffffff;
  --errorRed: #d73328;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--LightBlue);
}
